<h2>add new App</h2>
<%= form_for(@app) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<p><%= link_to "back to apps list", apps_path %></p>
